* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.container {
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.fizz {
    background-color: aquamarine;
}

.buzz {
    background-color: sandybrown;
}

.fizzbuzz {
    background-color: crimson;
}